In [1]:
import pandas as pd
import numpy as np

In [2]:
import json

In [3]:
with open("data/personachat_self_original.json", "r", encoding='utf-8"') as f:
    dataset = json.loads(f.read())

In [4]:
dataset.keys()

dict_keys(['train', 'valid'])

In [21]:
dataset['train'][1]['personality']

['my mom is my best friend .',
 'i have four sisters .',
 'i believe that mermaids are real .',
 'i love iced tea .']

In [ ]:
dataset.items()

In [49]:
dataset['train'][1]['utterances'][2]['candidates'][:4][-5:]

['very long , she was with me when i colored my hair pink',
 'i like being alone and hitchhiking',
 'hi , how are you doing today ?',
 'actually been good and better than what i expected']

In [64]:
dataset['train'][1]['utterances'][2]['history']

['hi , how are you doing today ?',
 'i am spending time with my 4 sisters what are you up to',
 'wow , four sisters . just watching game of thrones .',
 'that is a good show i watch that while drinking iced tea',
 'i agree . what do you do for a living ?']

In [4]:
history = [dialog['utterances'][-1]['history'] for dataset in dataset.values() for dialog in dataset]

In [17]:
persona = [dialog['personality']for dataset in dataset.values() for dialog in dataset]

In [4]:
utterances = [dialog['utterances'] for dataset in dataset.values() for dialog in dataset]

In [16]:
history[8443]

"hi there , how are you ? hello i'm great , just watching tv . how are you what you watching ? i watch a lot of tv . i'm not very social i like binging on tv ! right now it is dexter . what do you enjoy watching honestly , i like it all . i'm not too productive unless i'm at work what do you do for work i work at a factory , you ? i do not have a job right now , probably because i watch too much tv how do you afford to eat ? i don't eat too well myself even though i work well i live with my mom , we are very close . a lot of frozen burritos ew i don't like those . what else do you enjoy those are my favorite food , really . i know it sounds weird . its not weird . what do you do for fun ? sometimes i hike , i like anything outside . what do you like to do well , as i am not too social , i do not do a lot"

In [18]:
persona[8443]

['my favorite thing to eat is a burrito .',
 'i love to binge watch shows on streaming services .',
 'i am close to my mother , but not to my father .',
 'i like to hike and spend time outdoors .']

In [75]:
personality = [dialog["personality"] for dataset in dataset.values() for dialog in dataset]

In [76]:
personality = [" ".join(context) for context in personality]

In [78]:
personality[1]

'my mom is my best friend . i have four sisters . i believe that mermaids are real . i love iced tea .'

In [96]:
persona_df = pd.DataFrame (personality)
persona_df

                                                       0
0      i like to remodel homes . i like to go hunting...
1      my mom is my best friend . i have four sisters...
2      i had a gig at local theater last night . i wo...
3      i'm very athletic . i wear contacts . i have b...
4      i am primarily a meat eater . i am a guitar pl...
...                                                  ...
18873  my husband is adopted . i've a german shepherd...
18874  i produce music for artists . i drive a 2015 h...
18875  i'm terrified of scorpions . i'm employed by t...
18876  i am a musician and hope to make it big some d...
18877  i am a vegan and i love hummus . i love roller...

[18878 rows x 1 columns]

In [101]:
history_df = pd.DataFrame (history).rename(columns={'0':'history'})
history_df

                                                       0
0      hi , how are you doing ? i'm getting ready to ...
1      hi , how are you doing today ? i am spending t...
2      we all live in a yellow submarine , a yellow s...
3      hi ! i work as a gourmet cook . i don't like c...
4      how are you doing today what do you do for car...
...                                                  ...
18873  hello i am a country guy who wants to move to ...
18874  hello ! how are you this evening ? pretty good...
18875  my parents are teachers and together we love b...
18876  how are you doing today doing good man , just ...
18877  hi how are you ? i am doing great on this cris...

[18878 rows x 1 columns]

In [107]:
persona_df.concat([history_df])

AttributeError: 'DataFrame' object has no attribute 'concat'

In [112]:
df = pd.concat([persona_df, history_df], axis=1).rename(columns={0:"persona", 1:"history"})
df.head(3)

,persona,persona
0,i like to remodel homes . i like to go hunting...,"hi , how are you doing ? i'm getting ready to ..."
1,my mom is my best friend . i have four sisters...,"hi , how are you doing today ? i am spending t..."
2,i had a gig at local theater last night . i wo...,"we all live in a yellow submarine , a yellow s..."

In [113]:
df.to_excel('data/persona_dialog_fastbert.xlsx')